*.pyc
*.egg-info
!output/struct_rearrange/prompt_bg.txt
!lgmcts/scripts/data_generation/prompt_example_direct.txt
!lgmcts/scripts/data_generation/prompt_example_indirect.txt
output
# test data
examples/
build/

# itermidate data
*.mtl

# GPT API keys
lgmcts/conf/

# prompt
