*.ipynb
*.pyc
*.egg-info
!output/struct_rearrange/prompt_bg.txt
!lgmcts/scripts/data_generation/prompt_example_direct.txt
!lgmcts/scripts/data_generation/prompt_example_indirect.txt
!lgmcts/scripts/data_generation/prompt_str_list.txt
!lgmcts/scripts/data_generation/prompt_str_list_real.txt
output
# test data
examples/
build/
test_data/

# itermidate data
*.mtl
# misc
*.sh



# GPT API keys
lgmcts/conf/

# prompt
lgmcts/prompts/*.txt
!lgmcts/prompts/diff_seed_prompt_example_direct.txt

# additional
lgmcts/scripts/eval/gens_cop.py
lgmcts/scripts/eval/cop_llm_res_copy.py